<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsu.clienta.mapper.StudentCourseMapper">
    <!--resultMap 多对多的对应关系的映射-->
    <resultMap id="studentCourseMap" type="com.tsu.clienta.entity.Student">
        <id column="s_id" property="id"/>
        <result column="s_name" property="name"/>
        <result column="s_sex" property="sex"/>
        <result column="s_age" property="age"/>
        <collection property="courses" ofType="com.tsu.clienta.entity.Course">
            <id property="id" column="c_id"/>
            <result property="name" column="c_name"/>
            <result property="credit" column="c_credit"/>
        </collection>
    </resultMap>
    <select id="findStudentCourseInfo" resultMap="studentCourseMap">
        SELECT
        s.*,
        c.*
        FROM student s,course c,student_course sc
        WHERE s.s_id=sc.sc_sid AND c.c_id=sc.sc_cid
    </select>
</mapper>